/*
* Remix Icon v4.3.0 — SUBSET (19 icons used on akshaydahiya.site)
* Full library: 2908 icons / 138KB → Subset: 19 icons / ~1KB
* Original: https://remixicon.com
* License: Apache 2.0
*
* Icons included: arrow-left-line, arrow-right-line, arrow-right-up-line,
* award-line, check-line, close-line, computer-line, download-line,
* external-link-line, github-fill, global-line, linkedin-fill, linkedin-line,
* mail-fill, mail-line, menu-2-line, service-line, shape-line, timer-line
*/
@font-face {
  font-family: "remixicon";
  src: url('remixicon.eot?t=1718271040674');
  src: url('remixicon.eot?t=1718271040674#iefix') format('embedded-opentype'),
       url("remixicon.woff2?t=1718271040674") format("woff2"),
       url("remixicon.woff?t=1718271040674") format("woff"),
       url('remixicon.ttf?t=1718271040674') format('truetype'),
       url('remixicon.svg?t=1718271040674#remixicon') format('svg');
  font-display: swap;
}

[class^="ri-"], [class*=" ri-"] {
  font-family: 'remixicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Size helpers */
.ri-lg { font-size: 1.3333em; line-height: 0.75em; vertical-align: -.0667em; }
.ri-xl { font-size: 1.5em; line-height: 0.6666em; vertical-align: -.075em; }
.ri-xxs { font-size: .5em; }
.ri-xs { font-size: .75em; }
.ri-sm { font-size: .875em; }
.ri-1x { font-size: 1em; }
.ri-2x { font-size: 2em; }

/* Used icons */
.ri-arrow-left-line:before    { content: "\ea60"; }
.ri-arrow-right-line:before   { content: "\ea6c"; }
.ri-arrow-right-up-line:before{ content: "\ea70"; }
.ri-award-line:before         { content: "\ea8a"; }
.ri-check-line:before         { content: "\eb7b"; }
.ri-close-line:before         { content: "\eb99"; }
.ri-computer-line:before      { content: "\ebca"; }
.ri-download-line:before      { content: "\ec5a"; }
.ri-external-link-line:before { content: "\ecaf"; }
.ri-github-fill:before        { content: "\edca"; }
.ri-global-line:before        { content: "\edcf"; }
.ri-linkedin-fill:before      { content: "\eeb5"; }
.ri-linkedin-line:before      { content: "\eeb6"; }
.ri-mail-fill:before          { content: "\eef3"; }
.ri-mail-line:before          { content: "\eef6"; }
.ri-menu-2-line:before        { content: "\ef32"; }
.ri-service-line:before       { content: "\f0e2"; }
.ri-shape-line:before         { content: "\f0f2"; }
.ri-timer-line:before         { content: "\f215"; }
